body {
    font-family: 'Times New Roman' ''Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  }

/* цвет текста при наведении, фокусировке на элементе, проекте, первое слово на Логотипе (Web) #2196F3 */
/* дополнительный цвет логотипа, слово Studio #000000 */
/* цвет текста заголовков, названий проектов #212121 */
/* цвет текста подзаголовков #757575 */
/* цвет текста описание первого проекта при наведении, фокусировке #FFFFFF */

.site-nav {
    color: #212121;
}

.list {
    list-style: none;
}